<p>
  <h1>Name: <%= @build[:name] %></h1>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @build[:description] %>
</p>

<table class="table table-striped">
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Image</th>
    <th></th>
  </tr>
 
    <tr>
      <td>Motherboard</td>
      <td><%= @motherboard[:name] %></td>
      <td><%= image_tag(@motherboard[:image], :class => "miniItemImage") %></td>
      <td><%= link_to 'Show', item_path(@motherboard) %></td>
    </tr>

    <tr>
      <td>RAM</td>
      <td><%= @ram[:name] %></td>
      <td><%= image_tag(@ram[:image], :class => "miniItemImage") %></td>
      <td><%= link_to 'Show', item_path(@ram) %></td>
    </tr>

    <tr>
      <td>CPU</td>
      <td><%= @cpu[:name] %></td>
      <td><%= image_tag(@cpu[:image], :class => "miniItemImage") %></td>
      <td><%= link_to 'Show', item_path(@cpu) %></td>
    </tr>

    <tr>
      <td>GPU</td>
      <td><%= @gpu[:name] %></td>
      <td><%= image_tag(@gpu[:image], :class => "miniItemImage") %></td>
      <td><%= link_to 'Show', item_path(@gpu) %></td>
    </tr>

    <tr>
      <td>PSU</td>
      <td><%= @psu[:name] %></td>
      <td><%= image_tag(@psu[:image], :class => "miniItemImage") %></td>
      <td><%= link_to 'Show', item_path(@psu) %></td>
    </tr>

    <tr>
      <td>CHASIS</td>
      <td><%= @chasis[:name] %></td>
      <td><%= image_tag(@chasis[:image], :class => "miniItemImage") %></td>
      <td><%= link_to 'Show', item_path(@chasis) %></td>
    </tr>
</table>

