<h1>Cart</h1>

<% if @carts != [] %>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
     
      <% @carts.each do |build| %>
        <tr>
          <td><%= build[:name] %></td>
          <td><%= build[:description] %></td>
          <td><%= link_to 'Show', { action: :show, controller: "builds", id: build[:buildid] } %></td>
          <td><%= link_to 'Remove', { action: :destroy, id: build[:cartid] }, method: :delete %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'Checkout', class: "btn btn-primary createBuild" %>
<% else %>
    <strong>Nothing added to cart!</strong>
<% end %>
