<h1 id="test">Items</h1>
 
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Description</th>
    <th>Item Type</th>
    <th><th>
    <th><th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= image_tag (item.image), :class => "miniItemImage" %></td>
      <td><%= item.description %></td>
      <td><%= item.item_type %></td>
      <td><%= link_to 'Show', item_path(item) %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Add to Build',  {:action => "edit", :controller => "builds", :id => "" , :itemId => item.id },  :class => "addToBuild" %></td>
        <% end %>
    </tr>
  <% end %>
</table>
