<!DOCTYPE html>
<html>
  <head>
    <title id="titleThing">Zanders Computers</title>
    <script
      src="http://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'item', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'build', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="mainNav">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="/items">Items</a>
            <div class="dropdown-content">
                <a href="/items?selected_item_type=1">Motherboards</a>
                <a href="/items?selected_item_type=2">RAM</a>
                <a href="/items?selected_item_type=3">Processors</a>
                <a href="/items?selected_item_type=4">Graphics Cards</a>
                <a href="/items?selected_item_type=5">Power Supplies</a>
                <a href="/items?selected_item_type=6">Chasis</a>
            </div>
        </li>

        <div class="signIn">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to  @cart_icon, {controller: "carts"}, class: "btn" %> 
              <%= link_to 'My Builds', {controller: "builds"}, class: "btn" %> |
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn" %> |
              <%= link_to "Login", new_user_session_path, class: "btn" %>
            <% end %>
        </div>
    </ul>
    <%= form_tag(items_path, :method => "get", id: "search-form", :enforce_utf8 => false) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Parts...", :class => 'form-control searchBox'  %>
        <%= select_tag(:selected_item_type, options_from_collection_for_select(ItemType.all, :id, :name), {:include_blank => '', :class => "form-control category floater"}) %>
        <%= submit_tag "Search", :name => nil, :class => "btn btn-primary searchSubmit" %>
    <% end %>
            <% if user_signed_in? %>
                <div class="currentBuild">
                    <%= label_tag "", "Current Build" %>
                    <%= select_tag(:current_build, options_from_collection_for_select(Build.where(:userid => current_user.id), :id, :name), {:class => "form-control category" , :id => "currentBuildThingMan", :onchange => 'currentBuildChanged()', :include_blank => '' }) %>
                </div>
            <% end %>
    <div class="main">
        <%= yield %>
    </div>
  </body>

</html>
